/* === Estilos para contenido general === */
.article-content p,
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6,
.article-content span,
.article-content li,
.article-content a,
.article-content strong,
.article-content em,
.article-content img,
.article-content div,
.article-content code {
  margin: 1rem 0;
  overflow-wrap: break-word;
}

.article-content img {
  border-radius: 6px;
  margin: 1rem auto 0 auto;
}


/* [data-theme="light"] .js-code-highlight
[data-theme="dark"] .js-code-highlight */

/* === Estilos para bloques de código === */
.js-code-highlight,
code, code > * {
  overflow-x: auto;
  background-color: hsl(210 29% 18%);
  border-radius: 6px;
  color: white;
}

[data-theme="dark"] .js-code-highlight,
[data-theme="dark"] code, [data-theme="dark"] code > * {
  background-color: hsl( 200 17% 61%);
  color: hsl(210 29% 18%);
}

.js-code-highlight .highlight {
  padding: 1rem;
}

.js-code-highlight .highlight__panel {
  display: none;
}

/* === Estilos para tablas === */
.table-wrapper-paragraph {
  overflow-x: auto;
}

.table-wrapper-paragraph table {
  background-color: hsl(210 29% 18%);
  border-collapse: separate;
  color: white;
}

.table-wrapper-paragraph table th {
  text-align: start;
}

.table-wrapper-paragraph table th,
.table-wrapper-paragraph table td {
  border: 1px solid white;
  padding: 8px;
}

/* === Estilos para iframes === */
iframe {
  width: 100%;
}