:root{
  --header-height: 56px;
  --site-width: 1380px;
  --su-1: 0.25rem;
  --su-2: 0.5rem;
  --su-3: 0.75rem;
  --su-4: 1rem;
  --su-5: 1.25rem;
  --su-6: 1.5rem;
  --radius: 0.375rem;
  --radius-auto: Max(0px, Min(var(--radius), calc((100vw - 4px - 100%) * 9999))) / var(--radius);
  --opacity-0: 0.00001;
  --opacity-100: 1;
  --fs-s: 0.875rem;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --grey-50: 250, 250, 250;
  --grey-100: 246, 246, 246;
  --grey-200: 229, 229, 229;
  --grey-300: 212, 212, 212;
  --grey-400: 163, 163, 163;
  --grey-500: 115, 115, 115;
  --grey-600: 82, 82, 82;
  --grey-700: 64, 64, 64;
  --grey-800: 38, 38, 38;
  --grey-900: 23, 23, 23;
  --indigo-500: 99, 102, 241;
  --indigo-600: 79, 70, 229;
  --indigo-700: 67, 56, 202;
  --accent-brand-rgb: var(--indigo-600);
  --accent-brand-darker-rgb: var(--indigo-700);
  --base: #090909;
  --base-90: #242424;
  --base-10: #efefef;
  --base-0: #f9f9f9;
  --accent-brand: rgb(var(--accent-brand-rgb));
  --accent-brand-darker: rgb(var(--accent-brand-darker-rgb));
  --card-bg: rgb(var(--white));
  --card-color: rgb(var(--grey-900));
  --card-secondary-bg: rgb(var(--grey-50));
  --card-secondary-color: rgb(var(--grey-700));
  --card-secondary-border: rgba(var(--grey-900), 0.033);
  --card-border: rgba(var(--grey-900), 0.1);
  --body-bg: rgb(var(--grey-100));
  --form-border: rgb(var(--grey-200));
  --shadow-1: 0 10px 15px -3px rgba(var(--black), 0.1), 0 4px 6px -2px rgba(var(--black), 0.05), 0 0 0 1px rgba(var(--black), 0.1);
  --shadow-smooth: 0px 8px 16px rgba(0, 0, 0, 0.05)
}

.crayons-card{
  border-radius:Max(0px, Min(0.375rem, calc((100vw - 4px - 100%) * 9999))) / 0.375rem;
  border-radius:var(--radius-auto);
  color:rgb(23, 23, 23);
  color:var(--card-color);
  box-shadow:0 0 0 1px rgba(23, 23, 23, 0.033);
  box-shadow:0 0 0 1px var(--card-secondary-border);
  overflow-wrap:break-word;
  overflow-wrap:anywhere
}

.crayons-card--secondary{
  background:rgb(255, 255, 255);
  background:var(--card-bg);
  color:rgb(64, 64, 64);
  color:var(--card-secondary-color);
  box-shadow:0 0 0 1px rgba(23, 23, 23, 0.033);
  box-shadow:0 0 0 1px var(--card-secondary-border)
}

.crayons-card--elevated{
  box-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow:var(--shadow-1)
}

.crayons-card--content-rows{
  padding:1rem;
  padding:var(--su-4);
  margin-bottom:1rem;
  margin-bottom:var(--su-4);
  grid-gap:1rem;
  grid-gap:var(--su-4);
  display:grid
}

@media (min-width: 768px){
  .crayons-card--content-rows{
      padding:1.5rem;
      padding:var(--su-6);
      margin-bottom:1.5rem;
      margin-bottom:var(--su-6);
      grid-gap:1.5rem;
      grid-gap:var(--su-6)
  }
}

.crayons-card__header{
  padding:0.75rem 1rem;
  padding:var(--su-3) var(--su-4);
  border-bottom:1px solid rgb(246, 246, 246);
  border-bottom:1px solid var(--body-bg)
}

.crayons-card__body{
  padding:1rem;
  padding:var(--su-4)
}

.c-card{
  --revealable-opacity: var(--opacity-100);
  border-radius:Max(0px, Min(0.375rem, calc((100vw - 4px - 100%) * 9999))) / 0.375rem;
  border-radius:var(--radius-auto);
  background:rgb(255, 255, 255);
  background:var(--card-bg);
  box-shadow:0 0 0 1px rgba(23, 23, 23, 0.1);
  box-shadow:0 0 0 1px var(--card-border);
  overflow-wrap:break-word;
  overflow-wrap:anywhere
}

@media (hover: hover){
  .c-card{
      --revealable-opacity: var(--opacity-0)
  }
}

.c-card__revealable{
  opacity:var(--revealable-opacity)
}

.c-card--interactive:hover,.c-card--interactive:focus-within{
  --card-border: var(--base-90);
  --card-bg: var(--card-secondary-bg);
  --revealable-opacity: var(--opacity-100)
}

.text-styles .c-embed{
  margin:0 0 1.125rem 0;
  margin:0 0 var(--content-rhythm) 0
}

.c-embed{
  padding:0.75rem;
  padding:var(--su-3);
  border:1px solid rgb(229, 229, 229);
  border:1px solid var(--form-border);
  box-shadow:0px 8px 16px rgba(0, 0, 0, 0.05) !important;
  box-shadow:var(--shadow-smooth) !important
}

@media screen and (min-width: 640px){
  .c-embed{
      padding:1.25rem;
      padding:var(--su-5)
  }
}

.c-embed__content{
  display:flex;
  align-items:flex-start;
  gap:1rem;
  gap:var(--su-4)
}

.c-embed__cover{
  margin-bottom:1rem;
  margin-bottom:var(--su-4);
  flex-shrink:0
}

.c-embed__content .c-embed__cover{
  margin-bottom:0;
  width:80px;
  height:80px;
  text-align:center
}

.c-embed__content .c-embed__cover img{
  width:100%;
  height:100%;
  -o-object-fit:cover;
  object-fit:cover;
  border-radius:0.375rem;
  border-radius:var(--radius)
}

.c-embed__body{
  flex:1 1;
  min-width:0
}

.c-embed h2,.c-embed p{
  margin:0;
  margin-bottom:0.5rem;
  margin-bottom:var(--su-2)
}

.c-embed__favicon{
  display:none !important
}

.crayons-comment__body .crayons-comment__inner .c-embed{
  padding-top:0.75rem;
  padding-top:var(--su-3);
  padding-bottom:0.25rem;
  padding-bottom:var(--su-1)
}

.crayons-comment__body .crayons-comment__inner .c-embed__cover{
  display:none
}

.crayons-comment__body .crayons-comment__inner .c-embed__content{
  display:block
}

.crayons-comment__body .crayons-comment__inner .c-embed__body{
  font-size:0.875rem;
  font-size:var(--fs-s)
}

.crayons-story__contentpreview .c-embed{
  padding:9px 16px !important;
  margin:0 !important;
  font-size:14px !important
}

.crayons-story__contentpreview .c-embed:nth-child(n+3){
  display:none
}